footer{
  
    background-color:$footer1 ;
    .contenerdorTextoFooter{
       background-color:$footer2 ;
       .icono{
          text-decoration: none;
          font-size: 2rem;
          .fa-whatsapp{
             color:$fawhatsapp ;   
          }
          .fa-instagram{
             color:$fa-instagram ;
          }
          .fa-youtube{
             color:$fa-youtube ;
          }
       }
       
    }
   
 }
 
 
 @media(min-width:481px) and (max-width: 900px){
    .media{
       font-size: 24px;
    }
 
 }