.main{ 
   
    .carousel-item{
       height: map-get($altos, alto-carrusel);  
       img{
          height: map-get($altos , alto-img );
          width: 100%;
          object-fit: cover;
       }
    }      
    
 }
 .centrado{
   @include flexible(flex , center);
 }
     