
$reset:#000000;
$body: #e2ccf7;
$header: #1d1a1af6;
$background-color: #497c8580;
$footer1: #c47b7b;
$footer2: #f5e2e2;
$fawhatsapp: #006400; 
$fa-instagram: #ff1493;
$fa-youtube: #8b0000;

$altos:(
 alto-vh: 50vh,
 alto-carrusel:90vh,
 alto-img: 100%,
);